<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Notification</title>
    {% endblock %}
</head>
<body>
<div id="content" class="container">
    {% block site_title %}
    {% endblock %}
    <div class="row well">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>