{% extends 'NotificationBundle:Default:master.html.twig' %}
{% block site_title %}
    <h3>Result</h3>
{% endblock %}
{% block content %}
    <b>{{ result }}</b>
    <p><a href="{{ path('notification-index') }}" class="btn btn-default">Back</a></p>
{% endblock %}